**Column Desciption:**

![image.png]()

**Project Description**

A building permit is an official approval document issued by a governmental agency that allows you or your contractor to proceed with a construction or remodeling project on one's property.
Each city or county has its own office related to buildings, that can-do multiple functions like issuing permits, inspecting buildings to enforce safety measures, modifying rules to accommodate needs of the growing population etc.
There are 43 columns and close to 200k records in the dataset.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
sns.set()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Importing Data**

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone_Project_1to.csv')

**Displying few rows of data**

In [4]:
data.head()

  Permit Number  ...      Record ID
0  201505065519  ...  1380611233945
1  201604195146  ...  1420164406718
2  201605278609  ...  1424856504716
3  201611072166  ...  1443574295566
4  201611283529  ...   144548169992

[5 rows x 43 columns]

**Shape of data**

In [5]:
data.shape

(198900, 43)

**Basic Info of the dataset**

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB

**Stats of the dataset**

In [7]:
data.describe()

         Permit Type  Street Number  ...        Zipcode     Record ID
count  198900.000000  198900.000000  ...  197184.000000  1.989000e+05
mean        7.522323    1121.728944  ...   94115.500558  1.162048e+12
std         1.457451    1135.768948  ...       9.270131  4.918215e+11
min         1.000000       0.000000  ...   94102.000000  1.293532e+10
25%         8.000000     235.000000  ...   94109.000000  1.308567e+12
50%         8.000000     710.000000  ...   94114.000000  1.371840e+12
75%         8.000000    1700.000000  ...   94122.000000  1.435000e+12
max         8.000000    8400.000000  ...   94158.000000  1.498342e+12

[8 rows x 15 columns]

**Number of Unique values in every column.**

In [8]:
for a in data.columns:
  print(a,':',data[a].nunique())

Permit Number : 181495
Permit Type : 8
Permit Type Definition : 8
Permit Creation Date : 1291
Block : 4896
Lot : 1055
Street Number : 5099
Street Number Suffix : 18
Street Name : 1704
Street Suffix : 21
Unit : 660
Unit Suffix : 164
Description : 134272
Current Status : 14
Current Status Date : 1307
Filed Date : 1288
Issued Date : 1289
Completed Date : 1300
First Construction Document Date : 1288
Structural Notification : 1
Number of Existing Stories : 64
Number of Proposed Stories : 64
Voluntary Soft-Story Retrofit : 1
Fire Only Permit : 1
Permit Expiration Date : 2232
Estimated Cost : 11395
Revised Cost : 12629
Existing Use : 93
Existing Units : 348
Proposed Use : 94
Proposed Units : 368
Plansets : 8
TIDF Compliance : 2
Existing Construction Type : 5
Existing Construction Type Description : 5
Proposed Construction Type : 5
Proposed Construction Type Description : 5
Site Permit : 1
Supervisor District : 11
Neighborhoods - Analysis Boundaries : 41
Zipcode : 27
Location : 57604
Record ID : 198900

In [9]:
data['Site Permit'].unique()

array([nan, 'Y'], dtype=object)

**Null values in each column**

In [10]:
data.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

**Dropping these col because they have 190k+ null values. Does not make sense to fill the null values.**

In [11]:
df = data.drop(['Street Number Suffix','Unit Suffix','Structural Notification','Voluntary Soft-Story Retrofit','TIDF Compliance','Site Permit','Unit'],axis=1)
df.head()

  Permit Number  ...      Record ID
0  201505065519  ...  1380611233945
1  201604195146  ...  1420164406718
2  201605278609  ...  1424856504716
3  201611072166  ...  1443574295566
4  201611283529  ...   144548169992

[5 rows x 36 columns]

In [12]:
df.shape

(198900, 36)

**Handling Street Suffix null values**

In [13]:
df['Street Suffix'] = df['Street Suffix'].replace(np.nan, 0)

In [14]:
a=df[df['Street Suffix']==0]
a.head()

    Permit Number  ...      Record ID
143  201706290676  ...  1468779471576
197       M816208  ...  1473252470479
367  201710302549  ...  1485157488284
391       M854127  ...   148658885451
456       M867047  ...  1490720459683

[5 rows x 36 columns]

In [15]:
df['Street Suffix'] = df['Street Suffix'].fillna(method="ffill",limit=1)

In [16]:
df.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Name                                    0
Street Suffix                                  0
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

**Dropping Fire Only Permit as it is not applicable**

In [17]:
df=df.drop('Fire Only Permit',axis=1)

In [18]:
df.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Name                                    0
Street Suffix                                  0
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

**Handling Descrption column**

In [19]:
df['Description'].value_counts()

street space                                                                                                                               22163
reroofing                                                                                                                                   9465
street space permit                                                                                                                         7549
re-roofing                                                                                                                                  2351
streetspace                                                                                                                                  819
                                                                                                                                           ...
new interior retaining wall to repair (e).  not visible ffrom street - acts as foundation/footing                                              1
interior alteration to e office space on 2nd fl. work includes new partitions, ceilings, fixtures, lighting, fire protection sep permit        1
soft story voluntary seismic upgrade to comply with  sfbc 2010                                                                                 1
to add 2 bedrooms, 1 full bathroom & laundry on existing ground floor per plan.                                                                1
revision to 201206082226. relocate hvac condensor to roof                                                                                      1
Name: Description, Length: 134272, dtype: int64

Replacing the null values with the mode values of the column

In [20]:
mode=df['Description'].mode()

In [21]:
df['Description'] = df['Description'].replace(np.nan,'mode')

In [22]:
df.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Name                                    0
Street Suffix                                  0
Description                                    0
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

**Dropped all the rows where completed date is missing.**

In [23]:
df = df.drop('Completed Date',axis=1)

In [24]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                42784
Number of Proposed Stories                42868
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                              41114
Existing Units                            51538
Proposed Use                              42439
Proposed Units                            50911
Plansets                                  37309
Existing Construction Type                43366
Existing Construction Type Description    43366
Proposed Construction Type                43162
Proposed Construction Type Description    43162
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

**Existing Construction Type and Proposed Construction Type are quite similar to each other so we will fill the null values in each of them with each other**

In [25]:
df[['Existing Construction Type','Proposed Construction Type']].head(10)

   Existing Construction Type  Proposed Construction Type
0                         3.0                         NaN
1                         3.0                         NaN
2                         1.0                         1.0
3                         5.0                         5.0
4                         3.0                         NaN
5                         1.0                         1.0
6                         5.0                         5.0
7                         NaN                         NaN
8                         NaN                         NaN
9                         NaN                         NaN

In [26]:
df['Existing Construction Type']= np.where(df['Existing Construction Type'].isnull(), df['Proposed Construction Type'], df['Existing Construction Type'])

In [27]:
df['Proposed Construction Type'] = np.where(df['Proposed Construction Type'].isnull(), df['Existing Construction Type'], df['Proposed Construction Type'])

In [28]:
df[['Existing Construction Type','Proposed Construction Type']].head(10)

   Existing Construction Type  Proposed Construction Type
0                         3.0                         3.0
1                         3.0                         3.0
2                         1.0                         1.0
3                         5.0                         5.0
4                         3.0                         3.0
5                         1.0                         1.0
6                         5.0                         5.0
7                         NaN                         NaN
8                         NaN                         NaN
9                         NaN                         NaN

In [29]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                42784
Number of Proposed Stories                42868
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                              41114
Existing Units                            51538
Proposed Use                              42439
Proposed Units                            50911
Plansets                                  37309
Existing Construction Type                39623
Existing Construction Type Description    43366
Proposed Construction Type                39623
Proposed Construction Type Description    43162
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

In [30]:
df['Proposed Construction Type'] = df['Proposed Construction Type'].fillna(method="ffill")

In [31]:
df['Existing Construction Type']=df['Existing Construction Type'].fillna(df['Proposed Construction Type'])

In [32]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                42784
Number of Proposed Stories                42868
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                              41114
Existing Units                            51538
Proposed Use                              42439
Proposed Units                            50911
Plansets                                  37309
Existing Construction Type                    0
Existing Construction Type Description    43366
Proposed Construction Type                    0
Proposed Construction Type Description    43162
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

**Existing Units and proposed units null value handling**

In [33]:
df[['Existing Units','Proposed Units']]

        Existing Units  Proposed Units
0                143.0             NaN
1                  NaN             NaN
2                 39.0            39.0
3                  1.0             1.0
4                  NaN             NaN
...                ...             ...
198895             NaN             NaN
198896             4.0             4.0
198897             NaN             NaN
198898             NaN             NaN
198899             NaN             NaN

[198900 rows x 2 columns]

In [34]:
df['Existing Units']= np.where(df['Existing Units'].isnull(), df['Proposed Units'], df['Existing Units'])

In [35]:
df['Proposed Units'] = np.where(df['Proposed Units'].isnull(), df['Existing Units'], df['Proposed Units'])

In [36]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                42784
Number of Proposed Stories                42868
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                              41114
Existing Units                            48523
Proposed Use                              42439
Proposed Units                            48523
Plansets                                  37309
Existing Construction Type                    0
Existing Construction Type Description    43366
Proposed Construction Type                    0
Proposed Construction Type Description    43162
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

In [37]:
df[['Existing Units','Proposed Units']].head(10)

   Existing Units  Proposed Units
0           143.0           143.0
1             NaN             NaN
2            39.0            39.0
3             1.0             1.0
4             NaN             NaN
5           326.0           326.0
6             5.0             5.0
7             NaN             NaN
8             NaN             NaN
9             NaN             NaN

In [38]:
df['Proposed Units'] = df['Proposed Units'].fillna(method="ffill")

In [39]:
df['Existing Units']=df['Existing Units'].fillna(df['Proposed Units'])

In [40]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                42784
Number of Proposed Stories                42868
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                              41114
Existing Units                                0
Proposed Use                              42439
Proposed Units                                0
Plansets                                  37309
Existing Construction Type                    0
Existing Construction Type Description    43366
Proposed Construction Type                    0
Proposed Construction Type Description    43162
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

**Proposed use and existing use null handling**

In [41]:
df[['Existing Use','Proposed Use']].head(10)

          Existing Use       Proposed Use
0  tourist hotel/motel                NaN
1  tourist hotel/motel                NaN
2         retail sales       retail sales
3    1 family dwelling  1 family dwelling
4         retail sales                NaN
5           apartments         apartments
6           apartments         apartments
7                  NaN                NaN
8                  NaN                NaN
9                  NaN                NaN

In [42]:
df['Existing Use']= np.where(df['Existing Use'].isnull(), df['Proposed Use'], df['Existing Use'])

In [43]:
df['Proposed Use'] = np.where(df['Proposed Use'].isnull(), df['Existing Use'], df['Proposed Use'])

In [44]:
df[['Existing Use','Proposed Use']].head(10)

          Existing Use         Proposed Use
0  tourist hotel/motel  tourist hotel/motel
1  tourist hotel/motel  tourist hotel/motel
2         retail sales         retail sales
3    1 family dwelling    1 family dwelling
4         retail sales         retail sales
5           apartments           apartments
6           apartments           apartments
7                  NaN                  NaN
8                  NaN                  NaN
9                  NaN                  NaN

In [45]:
df['Proposed Use'] = df['Proposed Use'].fillna(method="ffill")

In [46]:
df['Existing Use']=df['Existing Use'].fillna(df['Proposed Use'])

**Number of Existing Stories and Number of Proposed Stories null values**

In [47]:
df[['Number of Existing Stories','Number of Proposed Stories']].head(10)

   Number of Existing Stories  Number of Proposed Stories
0                         6.0                         NaN
1                         7.0                         NaN
2                         6.0                         6.0
3                         2.0                         2.0
4                         3.0                         NaN
5                         5.0                         5.0
6                         3.0                         3.0
7                         NaN                         NaN
8                         NaN                         NaN
9                         NaN                         NaN

In [48]:
df['Number of Existing Stories']= np.where(df['Number of Existing Stories'].isnull(), df['Number of Proposed Stories'], df['Number of Existing Stories'])

In [49]:
df['Number of Proposed Stories']= np.where(df['Number of Proposed Stories'].isnull(), df['Number of Existing Stories'], df['Number of Proposed Stories'])

In [50]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                39374
Number of Proposed Stories                39374
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                  37309
Existing Construction Type                    0
Existing Construction Type Description    43366
Proposed Construction Type                    0
Proposed Construction Type Description    43162
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

In [51]:
df['Number of Proposed Stories'] = df['Number of Proposed Stories'].fillna(method="ffill")

In [52]:
df['Number of Existing Stories']=df['Number of Existing Stories'].fillna(df['Number of Proposed Stories'])

In [53]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                    0
Number of Proposed Stories                    0
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                  37309
Existing Construction Type                    0
Existing Construction Type Description    43366
Proposed Construction Type                    0
Proposed Construction Type Description    43162
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

**Existing Construction Type Description and Proposed Construction Type Description null value handling**

In [54]:
df[['Existing Construction Type Description','Proposed Construction Type Description']].head(10)

  Existing Construction Type Description Proposed Construction Type Description
0                          constr type 3                                    NaN
1                          constr type 3                                    NaN
2                          constr type 1                          constr type 1
3                         wood frame (5)                         wood frame (5)
4                          constr type 3                                    NaN
5                          constr type 1                          constr type 1
6                         wood frame (5)                         wood frame (5)
7                                    NaN                                    NaN
8                                    NaN                                    NaN
9                                    NaN                                    NaN

In [55]:
df['Existing Construction Type Description']= np.where(df['Existing Construction Type Description'].isnull(), df['Proposed Construction Type Description'], df['Existing Construction Type Description'])

In [56]:
df['Proposed Construction Type Description']= np.where(df['Proposed Construction Type Description'].isnull(), df['Existing Construction Type Description'], df['Proposed Construction Type Description'])

In [57]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                    0
Number of Proposed Stories                    0
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                  37309
Existing Construction Type                    0
Existing Construction Type Description    39623
Proposed Construction Type                    0
Proposed Construction Type Description    39623
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

In [58]:
df['Proposed Construction Type Description'] = df['Proposed Construction Type Description'].fillna(method="ffill")

In [59]:
df['Existing Construction Type Description']=df['Existing Construction Type Description'].fillna(df['Proposed Construction Type Description'])

In [60]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                               14940
First Construction Document Date          14946
Number of Existing Stories                    0
Number of Proposed Stories                    0
Permit Expiration Date                    51880
Estimated Cost                            38066
Revised Cost                               6066
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                  37309
Existing Construction Type                    0
Existing Construction Type Description        0
Proposed Construction Type                    0
Proposed Construction Type Description        0
Supervisor District                        1717
Neighborhoods - Analysis Boundaries        1725
Zipcode                                    1716
Location                                   1700
Record ID                                     0
dtype: int64

**Dropping all the rows where First Construction Document Date and Issue Date is missing**

In [61]:
df = df[df['First Construction Document Date'].notna()]

In [62]:
df = df[df['Issued Date'].notna()]

In [63]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                                   0
First Construction Document Date              0
Number of Existing Stories                    0
Number of Proposed Stories                    0
Permit Expiration Date                    36957
Estimated Cost                            37063
Revised Cost                                  9
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                  36929
Existing Construction Type                    0
Existing Construction Type Description        0
Proposed Construction Type                    0
Proposed Construction Type Description        0
Supervisor District                        1657
Neighborhoods - Analysis Boundaries        1664
Zipcode                                    1656
Location                                   1641
Record ID                                     0
dtype: int64

**Handling Plansets**

In [64]:
df['Plansets'] = df['Plansets'].fillna(method="ffill")

In [65]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                                   0
First Construction Document Date              0
Number of Existing Stories                    0
Number of Proposed Stories                    0
Permit Expiration Date                    36957
Estimated Cost                            37063
Revised Cost                                  9
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                      0
Existing Construction Type                    0
Existing Construction Type Description        0
Proposed Construction Type                    0
Proposed Construction Type Description        0
Supervisor District                        1657
Neighborhoods - Analysis Boundaries        1664
Zipcode                                    1656
Location                                   1641
Record ID                                     0
dtype: int64

**Dropping rows where location and zipcode is null**

In [66]:
df = df[df['Location'].notna()]

In [67]:
df = df[df['Zipcode'].notna()]

In [68]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                                   0
First Construction Document Date              0
Number of Existing Stories                    0
Number of Proposed Stories                    0
Permit Expiration Date                    36359
Estimated Cost                            36464
Revised Cost                                  9
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                      0
Existing Construction Type                    0
Existing Construction Type Description        0
Proposed Construction Type                    0
Proposed Construction Type Description        0
Supervisor District                           3
Neighborhoods - Analysis Boundaries           9
Zipcode                                       0
Location                                      0
Record ID                                     0
dtype: int64

**handling Supervisor district Neighborhoods - Analysis Boundaries**

In [69]:
df['Supervisor District'] = df['Supervisor District'].fillna(method="ffill")

In [70]:
df['Neighborhoods - Analysis Boundaries'] = df['Neighborhoods - Analysis Boundaries'].fillna(method="ffill")

In [71]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                                   0
First Construction Document Date              0
Number of Existing Stories                    0
Number of Proposed Stories                    0
Permit Expiration Date                    36359
Estimated Cost                            36464
Revised Cost                                  9
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                      0
Existing Construction Type                    0
Existing Construction Type Description        0
Proposed Construction Type                    0
Proposed Construction Type Description        0
Supervisor District                           0
Neighborhoods - Analysis Boundaries           0
Zipcode                                       0
Location                                      0
Record ID                                     0
dtype: int64

**Handling revised cost and estimated cost**

In [72]:
df[['Estimated Cost','Revised Cost']]

        Estimated Cost  Revised Cost
0              4000.00       4000.00
1                 1.00        500.00
3              2000.00       2000.00
4            100000.00     100000.00
5              4000.00       4000.00
...                ...           ...
198879        18453.12      18453.12
198880             NaN          1.00
198881             NaN          1.00
198882            1.00          1.00
198883             NaN          1.00

[182272 rows x 2 columns]

In [73]:
df['Estimated Cost']= np.where(df['Estimated Cost'].isnull(), df['Revised Cost'], df['Estimated Cost'])

In [74]:
df['Revised Cost']= np.where(df['Revised Cost'].isnull(), df['Estimated Cost'], df['Revised Cost'])

In [75]:
df.isnull().sum()

Permit Number                                 0
Permit Type                                   0
Permit Type Definition                        0
Permit Creation Date                          0
Block                                         0
Lot                                           0
Street Number                                 0
Street Name                                   0
Street Suffix                                 0
Description                                   0
Current Status                                0
Current Status Date                           0
Filed Date                                    0
Issued Date                                   0
First Construction Document Date              0
Number of Existing Stories                    0
Number of Proposed Stories                    0
Permit Expiration Date                    36359
Estimated Cost                                7
Revised Cost                                  7
Existing Use                                  0
Existing Units                                0
Proposed Use                                  0
Proposed Units                                0
Plansets                                      0
Existing Construction Type                    0
Existing Construction Type Description        0
Proposed Construction Type                    0
Proposed Construction Type Description        0
Supervisor District                           0
Neighborhoods - Analysis Boundaries           0
Zipcode                                       0
Location                                      0
Record ID                                     0
dtype: int64

In [76]:
df['Estimated Cost'] = df['Estimated Cost'].fillna(method="ffill")

In [77]:
df['Revised Cost']=df['Revised Cost'].fillna(df['Estimated Cost'])

**Handling Permit Expiration date**

In [78]:
df['Permit Expiration Date']=df['Permit Expiration Date'].fillna(method="bfill")

In [79]:
df['Permit Expiration Date']=df['Permit Expiration Date'].fillna(method="ffill")

In [80]:
df.isnull().sum()

Permit Number                             0
Permit Type                               0
Permit Type Definition                    0
Permit Creation Date                      0
Block                                     0
Lot                                       0
Street Number                             0
Street Name                               0
Street Suffix                             0
Description                               0
Current Status                            0
Current Status Date                       0
Filed Date                                0
Issued Date                               0
First Construction Document Date          0
Number of Existing Stories                0
Number of Proposed Stories                0
Permit Expiration Date                    0
Estimated Cost                            0
Revised Cost                              0
Existing Use                              0
Existing Units                            0
Proposed Use                              0
Proposed Units                            0
Plansets                                  0
Existing Construction Type                0
Existing Construction Type Description    0
Proposed Construction Type                0
Proposed Construction Type Description    0
Supervisor District                       0
Neighborhoods - Analysis Boundaries       0
Zipcode                                   0
Location                                  0
Record ID                                 0
dtype: int64

In [81]:
df.head()

  Permit Number  ...      Record ID
0  201505065519  ...  1380611233945
1  201604195146  ...  1420164406718
3  201611072166  ...  1443574295566
4  201611283529  ...   144548169992
5  201706149344  ...  1466911170855

[5 rows x 34 columns]

In [82]:
df['Permit Type Definition'].value_counts()

otc alterations permit                 168921
additions alterations or repairs         9405
sign - erect                             2358
new construction wood frame               601
demolitions                               376
wall or painted sign                      357
new construction                          176
grade or quarry or fill or excavate        78
Name: Permit Type Definition, dtype: int64

In [83]:
df['Permit Type Definition'] = df['Permit Type Definition'].str.replace(' ','_')
df['Permit Type Definition'] = df['Permit Type Definition'].str.replace('-','_')
df['Permit Type Definition'] = df['Permit Type Definition'].str.replace(',','_')
df['Permit Type Definition'] = df['Permit Type Definition'].str.lower()
df['Permit Type Definition'].value_counts()

otc_alterations_permit                 168921
additions_alterations_or_repairs         9405
sign___erect                             2358
new_construction_wood_frame               601
demolitions                               376
wall_or_painted_sign                      357
new_construction                          176
grade_or_quarry_or_fill_or_excavate        78
Name: Permit Type Definition, dtype: int64

In [84]:
df['Permit Type Definition'] = df['Permit Type Definition'].str.replace('__','_')
df['Permit Type Definition'].value_counts()

otc_alterations_permit                 168921
additions_alterations_or_repairs         9405
sign__erect                              2358
new_construction_wood_frame               601
demolitions                               376
wall_or_painted_sign                      357
new_construction                          176
grade_or_quarry_or_fill_or_excavate        78
Name: Permit Type Definition, dtype: int64

In [85]:
df.head()

  Permit Number  ...      Record ID
0  201505065519  ...  1380611233945
1  201604195146  ...  1420164406718
3  201611072166  ...  1443574295566
4  201611283529  ...   144548169992
5  201706149344  ...  1466911170855

[5 rows x 34 columns]

In [86]:
df['Existing Use'].value_counts()

1 family dwelling       55481
apartments              46160
office                  28663
2 family dwelling       24648
retail sales             7442
                        ...
not applicable              2
temple                      2
orphanage                   1
dairies/dairy equip.        1
roofing materials           1
Name: Existing Use, Length: 94, dtype: int64

In [87]:
df['Existing Use'] = df['Existing Use'].str.replace(' ','_')
df['Existing Use'] = df['Existing Use'].str.replace('-','_')
df['Existing Use'] = df['Existing Use'].str.replace(',','_')
df['Existing Use'] = df['Existing Use'].str.lower()
df['Existing Use'].value_counts()

1_family_dwelling       55481
apartments              46160
office                  28663
2_family_dwelling       24648
retail_sales             7442
                        ...
temple                      2
not_applicable              2
dairies/dairy_equip.        1
roofing_materials           1
orphanage                   1
Name: Existing Use, Length: 94, dtype: int64

In [88]:
df['Proposed Use'] = df['Proposed Use'].str.replace(' ','_')
df['Proposed Use'] = df['Proposed Use'].str.replace('-','_')
df['Proposed Use'] = df['Proposed Use'].str.replace(',','_')
df['Proposed Use'] = df['Proposed Use'].str.replace('/','_')
df['Proposed Use'] = df['Proposed Use'].str.lower()
df['Proposed Use'].value_counts()

1_family_dwelling       55076
apartments              47322
office                  28504
2_family_dwelling       25132
retail_sales             6740
                        ...
meat_produce_marts          2
not_applicable              2
roofing_materials           1
dairies_dairy_equip.        1
orphanage                   1
Name: Proposed Use, Length: 94, dtype: int64

In [89]:
df['Existing Construction Type Description'] = df['Existing Construction Type Description'].str.replace(' ','_')
df['Existing Construction Type Description'] = df['Existing Construction Type Description'].str.replace('-','_')
df['Existing Construction Type Description']= df['Existing Construction Type Description'].str.replace(',','_')
df['Existing Construction Type Description']= df['Existing Construction Type Description'].str.replace('(','')
df['Existing Construction Type Description']= df['Existing Construction Type Description'].str.replace(')','')
df['Existing Construction Type Description'] = df['Existing Construction Type Description'].str.lower()
df['Existing Construction Type Description'].value_counts()

wood_frame_5     132005
constr_type_1     33737
constr_type_3     11308
constr_type_2      4776
constr_type_4       446
Name: Existing Construction Type Description, dtype: int64

In [90]:
df['Proposed Construction Type Description'] = df['Proposed Construction Type Description'].str.replace(' ','_')
df['Proposed Construction Type Description'] = df['Proposed Construction Type Description'].str.replace('-','_')
df['Proposed Construction Type Description']= df['Proposed Construction Type Description'].str.replace(',','_')
df['Proposed Construction Type Description']= df['Proposed Construction Type Description'].str.replace('(','')
df['Proposed Construction Type Description']= df['Proposed Construction Type Description'].str.replace(')','')
df['Proposed Construction Type Description'] = df['Proposed Construction Type Description'].str.lower()
df['Proposed Construction Type Description'].value_counts()

wood_frame_5     131977
constr_type_1     33747
constr_type_3     11316
constr_type_2      4780
constr_type_4       452
Name: Proposed Construction Type Description, dtype: int64

In [91]:
df['Neighborhoods - Analysis Boundaries'] = df['Neighborhoods - Analysis Boundaries'].str.replace(' ','_')
df['Neighborhoods - Analysis Boundaries'] = df['Neighborhoods - Analysis Boundaries'].str.replace('-','_')
df['Neighborhoods - Analysis Boundaries'] = df['Neighborhoods - Analysis Boundaries'].str.replace(',','_')
df['Neighborhoods - Analysis Boundaries'] = df['Neighborhoods - Analysis Boundaries'].str.replace('/','_')
df['Neighborhoods - Analysis Boundaries']= df['Neighborhoods - Analysis Boundaries'].str.lower()
df['Neighborhoods - Analysis Boundaries'].value_counts()

financial_district_south_beach    20474
mission                           13269
sunset_parkside                    9558
west_of_twin_peaks                 8251
pacific_heights                    8002
castro_upper_market                7881
marina                             7620
noe_valley                         7329
outer_richmond                     7284
south_of_market                    6917
bernal_heights                     5612
nob_hill                           5482
inner_sunset                       5402
haight_ashbury                     5342
russian_hill                       5051
hayes_valley                       5037
bayview_hunters_point              5020
tenderloin                         4355
inner_richmond                     4112
potrero_hill                       3933
presidio_heights                   3823
north_beach                        3686
western_addition                   3581
chinatown                          3421
lone_mountain_usf                  3073
excelsior                          2880
glen_park                          2469
oceanview_merced_ingleside         2453
mission_bay                        2132
outer_mission                      2055
twin_peaks                         1577
portola                            1314
lakeshore                          1236
seacliff                            930
visitacion_valley                   809
japantown                           644
treasure_island                      63
golden_gate_park                     58
lincoln_park                         48
presidio                             46
mclaren_park                         43
Name: Neighborhoods - Analysis Boundaries, dtype: int64

In [92]:
df[df['Proposed Use']=='nan']

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Name, Street Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, First Construction Document Date, Number of Existing Stories, Number of Proposed Stories, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

In [93]:
df.isnull().sum()

Permit Number                             0
Permit Type                               0
Permit Type Definition                    0
Permit Creation Date                      0
Block                                     0
Lot                                       0
Street Number                             0
Street Name                               0
Street Suffix                             0
Description                               0
Current Status                            0
Current Status Date                       0
Filed Date                                0
Issued Date                               0
First Construction Document Date          0
Number of Existing Stories                0
Number of Proposed Stories                0
Permit Expiration Date                    0
Estimated Cost                            0
Revised Cost                              0
Existing Use                              0
Existing Units                            0
Proposed Use                              0
Proposed Units                            0
Plansets                                  0
Existing Construction Type                0
Existing Construction Type Description    0
Proposed Construction Type                0
Proposed Construction Type Description    0
Supervisor District                       0
Neighborhoods - Analysis Boundaries       0
Zipcode                                   0
Location                                  0
Record ID                                 0
dtype: int64

In [94]:
df.shape

(182272, 34)

In [97]:
for a in df.columns:
  print(a,':',df[a].unique())

Permit Number : ['201505065519' '201604195146' '201611072166' ... 'M893407' '201802232172'
 'M893427']
Permit Type : [4 8 6 3 7 1 2 5]
Permit Type Definition : ['sign__erect' 'otc_alterations_permit' 'demolitions'
 'additions_alterations_or_repairs' 'wall_or_painted_sign'
 'new_construction' 'new_construction_wood_frame'
 'grade_or_quarry_or_fill_or_excavate']
Permit Creation Date : ['05/06/2015' '04/19/2016' '11/07/2016' ... '02/21/2018' '02/22/2018'
 '02/23/2018']
Block : ['0326' '0306' '0156' ... '2601' '8725' '4976']
Lot : ['023' '007' '011' ... '024K' '008I' '632']
Street Number : [ 140  440 1230 ...    0 3886 4169]
Street Name : ['Ellis' 'Geary' 'Pacific' ... 'Chain Of Lakes' 'Unknown' 'Ignacio']
Street Suffix : ['St' 'Av' 'Tr' 'Ct' 'Bl' 'Wy' 'Dr' 0 'Cr' 'Pl' 'Ln' 'Hy' 'Rd' 'Pk' 'Al'
 'Pz' 'Wk' 'Rw' 'So' 'Sw' 'No' 'Hl']
Description : ['ground fl facade: to erect illuminated, electric, wall, single faced sign. n/a for maher ordinance 155-13.'
 'remove (e) awning and associated signs.'
 'repair dryrot & stucco at front of bldg.' ...
 'to comply with nov 201708341 - replace new handrail on stair'
 'install 1300 sq ft vinyl siding to left side & back of house. not visible from street.'
 'to obtain final inspection for work approved under pa #201404294414. all work is complete']
Current Status : ['expired' 'issued' 'complete' 'reinstated' 'cancelled' 'suspend'
 'approved' 'revoked' 'withdrawn' 'incomplete']
Current Status Date : ['12/21/2017' '08/03/2017' '07/24/2017' ... '01/02/2018' '07/15/2017'
 '07/29/2017']
Filed Date : ['05/06/2015' '04/19/2016' '11/07/2016' ... '02/21/2018' '02/22/2018'
 '02/23/2018']
Issued Date : ['11/09/2015' '08/03/2017' '07/18/2017' ... '02/05/2018' '01/29/2018'
 '02/13/2018']
First Construction Document Date : ['11/09/2015' '08/03/2017' '07/18/2017' ... '02/02/2018' '02/05/2018'
 '01/29/2018']
Number of Existing Stories : [ 6.   7.   2.   3.   5.   4.   1.  15.  23.  13.  22.  21.  17.  16.
 26.   8.   9.  34.  20.  24.  48.  11.  25.  19.  12.  14.  30.  53.
 52.  18.  37.  38.  31.  36.  32.  40.  10.  39.  43.  33.  50.   0.
 55.  42.  60.  58.  29.  35.  45.  28.  63.  27.  62.  41.  47.  46.
 54.  61.  44.  49.  56.   2.5  1.5]
Number of Proposed Stories : [ 6.   7.   2.   3.   5.   4.   1.  15.  23.  13.  22.  21.  17.  16.
 26.   8.   9.  34.  20.  24.  48.  11.  25.  19.  12.  14.  30.  53.
 52.  18.  37.  38.  31.  36.  32.  40.  10.  39.  43.  33.  50.  55.
 42.  60.  58.  29.  35.  45.   0.  28.  63.  27.  62.  41.  47.  46.
 54.  61.  44.  49.  56.   2.5  1.5]
Permit Expiration Date : ['11/03/2016' '12/03/2017' '07/13/2018' ... '08/06/2020' '07/31/2020'
 '08/15/2020']
Estimated Cost : [4.000000e+03 1.000000e+00 2.000000e+03 ... 1.153100e+04 1.289100e+04
 1.845312e+04]
Revised Cost : [ 4000.     500.    2000.   ... 11531.   12891.   18453.12]
Existing Use : ['tourist_hotel/motel' '1_family_dwelling' 'retail_sales' 'apartments'
 'church' 'office' 'vacant_lot' '2_family_dwelling' 'food/beverage_hndlng'
 'residential_hotel' 'school' 'filling/service_stn' 'storage_shed'
 'clinics_medic/dental' 'misc_group_residns.' 'hospital' 'club'
 'barber/beauty_salon' 'warehouse_no_frnitur' 'artist_live/work'
 'manufacturing' 'museum' 'garment_shops' 'public_assmbly_other'
 'auto_repairs' 'workshop_commercial' 'lending_institution'
 'warehouse__furniture' 'prkng_garage/private' 'antenna'
 'health_studios_&_gym' 'printing_plant' 'parking_lot'
 'workshop_residential' 'power_plant' 'tower' 'mortuary'
 'animal_sale_or_care' 'laundry/laundromat' 'nite_club' 'paint_store'
 'recreation_bldg' 'theater' 'nursery(floral)' 'prkng_garage/public'
 'sign' 'phone_xchnge/equip' 'dance_hall' 'muni_carbarn' 'stadium'
 'automobile_sales' 'day_care_center' 'fence/retaining_wall' 'greenhouse'
 'library' 'radio_&_tv_stations' 'social_care_facility' 'amusement_center'
 'day_care_home_gt_12' 'sfpd_or_sffd_station' 'muni_driver_restroom'
 'massage_parlor' 'moving_&_storage' 'dry_cleaners' 'day_care_home_7___12'
 'chemical_processing' 'accessory_cottage' 'day_care__non_res'
 'nursing_home_non_amb' 'wholesale_sales' 'nursing_home_gt_6'
 'sewage_plant' 'convalescent_home' 'adult_entertainment'
 'dairies/dairy_equip.' 'bath_house' 'jail' "prson'l_svc_tutor"
 'christmas_tree_lot' 'r_3(dwg)_nursing' 'sound_studio' 'car_wash'
 'roofing_materials' 'orphanage' 'ambulance_service' 'meat/produce_marts'
 'day_care_home_lt_7' 'not_applicable' 'building_materials' 'temple'
 'storage_tanks' 'swimming_pool' 'nursing_home_lte_6' 'child_care']
Existing Units : [1.430e+02 1.000e+00 3.260e+02 5.000e+00 6.000e+00 9.000e+00 3.000e+00
 7.400e+01 2.000e+00 4.000e+00 0.000e+00 7.000e+00 1.600e+01 1.500e+01
 7.200e+01 4.150e+02 3.500e+02 1.200e+01 8.000e+00 1.000e+01 2.630e+02
 8.200e+01 1.300e+01 1.800e+01 1.400e+01 2.120e+02 3.000e+02 4.400e+01
 2.000e+01 2.400e+01 3.600e+02 1.470e+02 3.300e+01 2.330e+02 5.800e+01
 1.700e+01 3.500e+01 4.490e+02 2.390e+02 4.400e+02 1.100e+01 1.500e+03
 4.200e+01 2.700e+01 1.000e+02 5.540e+02 1.980e+02 9.200e+01 2.100e+01
 6.700e+01 3.600e+01 1.910e+02 3.100e+01 2.040e+02 2.900e+01 6.000e+01
 7.000e+01 6.500e+01 4.600e+01 9.700e+01 2.300e+01 1.160e+02 3.000e+01
 7.300e+01 5.000e+01 1.540e+02 3.800e+01 4.500e+01 2.500e+01 3.880e+02
 1.900e+02 2.600e+01 2.800e+01 6.900e+01 3.900e+01 1.880e+02 4.200e+02
 5.400e+01 2.880e+02 5.300e+01 4.800e+01 8.400e+01 2.200e+01 1.860e+02
 1.060e+02 4.900e+01 1.260e+02 6.850e+02 1.330e+02 1.390e+02 9.800e+01
 1.350e+02 7.100e+01 9.900e+01 2.340e+02 3.290e+02 9.000e+01 1.220e+02
 2.770e+02 8.100e+01 8.900e+01 1.130e+02 5.700e+01 3.200e+02 4.700e+01
 5.900e+01 5.100e+01 1.240e+02 4.480e+02 6.300e+01 4.300e+01 3.200e+01
 4.000e+01 7.500e+01 3.700e+01 5.500e+01 1.600e+02 1.020e+02 6.400e+01
 2.540e+02 2.580e+02 3.400e+01 3.820e+02 1.080e+02 4.180e+02 1.480e+02
 1.560e+02 7.800e+01 6.620e+02 1.100e+02 1.730e+02 2.730e+02 1.710e+02
 1.530e+02 1.040e+02 2.440e+02 1.186e+03 5.490e+02 1.200e+02 1.050e+02
 3.040e+02 1.250e+02 1.800e+02 1.820e+02 2.820e+02 1.270e+02 5.200e+01
 5.000e+02 1.720e+02 9.100e+01 1.640e+02 6.200e+01 6.600e+01 1.030e+02
 1.790e+02 4.100e+01 1.740e+02 8.700e+01 1.870e+02 1.900e+01 1.005e+03
 1.490e+02 1.210e+02 1.140e+02 6.690e+02 7.700e+01 5.600e+01 1.010e+02
 7.900e+01 7.190e+02 4.790e+02 3.900e+02 1.120e+02 7.540e+02 1.300e+02
 6.100e+01 1.690e+02 2.020e+02 2.910e+02 1.310e+02 8.400e+02 9.400e+01
 1.320e+02 2.240e+02 1.230e+02 2.790e+02 1.170e+02 2.890e+02 4.140e+02
 1.650e+02 1.920e+02 8.800e+01 2.500e+02 1.500e+02 1.580e+02 1.340e+02
 8.300e+01 2.850e+02 8.600e+01 5.290e+02 3.190e+02 1.070e+02 9.500e+01
 1.907e+03 1.280e+02 1.590e+02 3.150e+02 6.800e+01 1.290e+02 1.610e+02
 1.700e+02 2.480e+02 2.030e+02 8.500e+01 1.370e+02 8.000e+01 1.750e+02
 2.260e+02 1.360e+02 1.940e+02 2.450e+02 1.180e+02 1.090e+02 2.080e+02
 1.570e+02 1.550e+02 1.960e+02 2.400e+02 1.890e+02 2.680e+02 4.080e+02
 2.600e+02 2.360e+02 7.200e+02 1.620e+02 9.600e+01 4.340e+02 3.620e+02
 9.300e+01 2.620e+02 1.010e+03 1.680e+02 1.150e+02 5.500e+02 2.050e+02
 1.000e+03 2.810e+02 2.960e+02 2.530e+02 1.850e+02 3.000e-01 2.980e+02
 1.004e+03 5.550e+02 2.590e+02 1.380e+02 1.450e+02 1.990e+02 3.300e+02
 2.000e+02 4.860e+02 2.430e+02 2.200e+02 4.020e+02 3.990e+02 2.060e+02
 1.420e+02 1.410e+02 2.690e+02 1.400e+02 4.160e+02 5.510e+02 3.120e+02
 4.030e+02 4.520e+02 1.510e+02 4.310e+02 3.550e+02 3.840e+02 1.660e+02
 4.430e+02 4.440e+02 7.600e+01 1.780e+02 3.560e+02 1.520e+02 3.130e+02
 1.460e+02 1.830e+02 2.320e+02 5.440e+02 2.990e+02 4.000e+02 3.930e+02
 7.220e+02 6.810e+02 5.460e+02 1.499e+03 4.750e+02 2.470e+02 4.190e+02
 4.500e+02 5.450e+02 4.040e+02 9.480e+02 8.050e+02 3.700e+02 2.270e+02
 2.740e+02 2.110e+02 1.970e+02 2.370e+02 2.650e+02 4.470e+02 2.760e+02
 2.670e+02 5.010e+02 4.090e+02 6.700e+02 3.240e+02 1.440e+02 2.560e+02
 3.610e+02 3.250e+02 2.180e+02 2.300e+02 3.640e+02 1.110e+02 4.050e+02
 1.190e+02 2.410e+02 2.970e+02 4.170e+02 4.800e+02 3.390e+02 4.100e+02
 3.480e+02 1.950e+02 4.770e+02 2.550e+02 2.490e+02 3.030e+02 6.240e+02
 6.640e+02 3.050e+02 4.700e+02 6.740e+02 3.590e+02 5.400e+02 3.980e+02
 4.420e+02 5.040e+02 2.210e+02 6.760e+02 1.732e+03 1.930e+02]
Proposed Use : ['tourist_hotel_motel' '1_family_dwelling' 'retail_sales' 'apartments'
 'church' 'office' 'vacant_lot' '2_family_dwelling' 'food_beverage_hndlng'
 'school' 'filling_service_stn' 'residential_hotel' 'storage_shed'
 'clinics_medic_dental' 'misc_group_residns.' 'hospital' 'club'
 'barber_beauty_salon' 'warehouse_no_frnitur' 'artist_live_work' 'museum'
 'lending_institution' 'garment_shops' 'child_care' 'auto_repairs'
 'manufacturing' 'day_care_home_lt_7' 'workshop_commercial'
 'warehouse__furniture' 'prkng_garage_private' 'antenna'
 'health_studios_&_gym' 'printing_plant' 'parking_lot'
 'workshop_residential' 'power_plant' 'tower' 'sfpd_or_sffd_station'
 'mortuary' 'animal_sale_or_care' 'fence_retaining_wall' 'nite_club'
 'paint_store' 'recreation_bldg' 'theater' 'nursery(floral)'
 'massage_parlor' 'prkng_garage_public' 'sign' 'phone_xchnge_equip'
 'dance_hall' 'muni_carbarn' 'stadium' 'automobile_sales'
 'day_care_center' 'public_assmbly_other' 'greenhouse' 'library'
 'radio_&_tv_stations' 'social_care_facility' 'laundry_laundromat'
 'accessory_cottage' 'amusement_center' 'day_care_home_gt_12'
 'muni_driver_restroom' 'day_care_home_7___12' 'moving_&_storage'
 'dry_cleaners' 'chemical_processing' 'day_care__non_res'
 'nursing_home_non_amb' 'wholesale_sales' 'nursing_home_gt_6'
 'sewage_plant' 'convalescent_home' "prson'l_svc_tutor"
 'adult_entertainment' 'dairies_dairy_equip.' 'bath_house' 'jail'
 'christmas_tree_lot' 'r_3(dwg)_nursing' 'sound_studio' 'car_wash'
 'roofing_materials' 'orphanage' 'swimming_pool' 'ambulance_service'
 'not_applicable' 'building_materials' 'meat_produce_marts' 'temple'
 'storage_tanks' 'nursing_home_lte_6']
Proposed Units : [1.430e+02 1.000e+00 3.260e+02 5.000e+00 6.000e+00 9.000e+00 3.000e+00
 7.400e+01 2.000e+00 4.000e+00 0.000e+00 7.000e+00 1.600e+01 1.500e+01
 7.200e+01 4.150e+02 3.500e+02 1.200e+01 8.000e+00 2.630e+02 8.200e+01
 1.300e+01 1.800e+01 1.400e+01 1.000e+01 2.120e+02 3.000e+02 4.400e+01
 2.000e+01 2.400e+01 3.600e+02 1.470e+02 3.300e+01 2.330e+02 5.800e+01
 1.700e+01 3.500e+01 4.490e+02 2.390e+02 4.400e+02 1.100e+01 1.500e+03
 9.400e+01 4.200e+01 2.700e+01 1.000e+02 5.540e+02 1.980e+02 9.200e+01
 2.100e+01 6.700e+01 3.600e+01 1.910e+02 3.100e+01 2.040e+02 2.900e+01
 6.000e+01 7.000e+01 6.500e+01 4.600e+01 9.700e+01 2.300e+01 1.160e+02
 3.000e+01 7.300e+01 5.000e+01 1.540e+02 3.800e+01 4.500e+01 2.500e+01
 3.880e+02 1.900e+02 2.600e+01 2.800e+01 6.900e+01 3.900e+01 1.880e+02
 4.200e+02 5.400e+01 2.880e+02 5.300e+01 4.800e+01 8.400e+01 2.200e+01
 1.860e+02 1.060e+02 4.900e+01 1.260e+02 6.850e+02 1.330e+02 1.390e+02
 9.800e+01 1.350e+02 7.100e+01 9.900e+01 2.340e+02 3.290e+02 9.000e+01
 1.220e+02 2.770e+02 8.100e+01 8.900e+01 1.130e+02 5.700e+01 3.200e+02
 4.700e+01 5.900e+01 5.100e+01 1.240e+02 4.480e+02 6.300e+01 4.300e+01
 2.730e+02 3.200e+01 4.000e+01 7.500e+01 3.700e+01 5.500e+01 1.600e+02
 1.020e+02 6.400e+01 2.540e+02 1.200e+02 2.580e+02 3.400e+01 3.820e+02
 1.080e+02 4.180e+02 1.480e+02 1.560e+02 7.800e+01 6.620e+02 1.100e+02
 1.730e+02 1.710e+02 1.530e+02 1.040e+02 2.440e+02 1.186e+03 5.490e+02
 1.900e+01 1.050e+02 3.040e+02 1.250e+02 1.800e+02 1.820e+02 2.820e+02
 1.270e+02 5.200e+01 5.000e+02 1.720e+02 9.100e+01 1.640e+02 6.200e+01
 6.600e+01 1.030e+02 1.790e+02 4.100e+01 1.740e+02 8.700e+01 1.870e+02
 1.005e+03 1.490e+02 1.210e+02 1.140e+02 6.690e+02 7.700e+01 5.600e+01
 1.010e+02 7.900e+01 7.190e+02 4.790e+02 3.900e+02 1.120e+02 7.540e+02
 1.300e+02 6.100e+01 1.690e+02 2.020e+02 2.910e+02 1.310e+02 1.014e+03
 8.400e+02 1.320e+02 2.240e+02 1.230e+02 2.790e+02 1.170e+02 2.890e+02
 4.140e+02 1.650e+02 1.920e+02 8.800e+01 2.500e+02 1.500e+02 1.580e+02
 1.340e+02 8.300e+01 2.850e+02 8.600e+01 5.290e+02 3.190e+02 1.070e+02
 9.500e+01 1.907e+03 1.280e+02 1.590e+02 3.150e+02 6.800e+01 1.290e+02
 1.610e+02 1.700e+02 2.480e+02 2.030e+02 8.500e+01 1.370e+02 8.000e+01
 1.750e+02 2.260e+02 1.360e+02 1.940e+02 2.450e+02 1.180e+02 1.090e+02
 2.080e+02 1.570e+02 1.550e+02 1.960e+02 2.400e+02 1.890e+02 2.680e+02
 4.080e+02 2.600e+02 2.360e+02 7.220e+02 1.620e+02 9.600e+01 4.340e+02
 3.620e+02 9.300e+01 2.620e+02 1.010e+03 1.680e+02 1.150e+02 5.500e+02
 2.050e+02 1.000e+03 5.280e+02 2.810e+02 2.960e+02 2.530e+02 1.850e+02
 2.980e+02 5.550e+02 1.911e+03 2.590e+02 1.380e+02 1.450e+02 1.990e+02
 3.300e+02 2.000e+02 6.740e+02 3.990e+02 4.860e+02 2.430e+02 2.200e+02
 4.020e+02 2.060e+02 1.420e+02 1.410e+02 3.930e+02 2.690e+02 1.400e+02
 4.160e+02 5.510e+02 3.120e+02 4.030e+02 4.520e+02 1.510e+02 4.310e+02
 3.610e+02 3.840e+02 1.660e+02 4.440e+02 7.600e+01 1.780e+02 3.560e+02
 1.520e+02 3.130e+02 1.460e+02 1.830e+02 2.320e+02 5.440e+02 2.990e+02
 4.000e+02 6.810e+02 5.460e+02 1.499e+03 4.750e+02 2.470e+02 4.190e+02
 4.500e+02 1.950e+02 5.450e+02 3.160e+02 4.040e+02 9.480e+02 8.050e+02
 3.550e+02 3.700e+02 4.470e+02 2.270e+02 2.740e+02 2.110e+02 1.970e+02
 2.370e+02 2.650e+02 2.130e+02 2.760e+02 2.670e+02 6.760e+02 5.010e+02
 4.090e+02 6.700e+02 3.240e+02 1.440e+02 2.560e+02 2.300e+02 1.110e+02
 3.250e+02 2.250e+02 2.180e+02 3.640e+02 4.050e+02 1.190e+02 7.200e+02
 2.410e+02 2.970e+02 4.170e+02 4.800e+02 3.390e+02 4.100e+02 3.480e+02
 4.770e+02 2.550e+02 2.490e+02 3.030e+02 6.240e+02 6.640e+02 3.050e+02
 4.700e+02 3.590e+02 5.400e+02 3.980e+02 4.420e+02 5.040e+02 2.210e+02
 1.732e+03 1.930e+02]
Plansets : [2.e+00 0.e+00 6.e+00 4.e+00 3.e+00 9.e+03]
Existing Construction Type : [3. 5. 1. 4. 2.]
Existing Construction Type Description : ['constr_type_3' 'wood_frame_5' 'constr_type_1' 'constr_type_4'
 'constr_type_2']
Proposed Construction Type : [3. 5. 1. 4. 2.]
Proposed Construction Type Description : ['constr_type_3' 'wood_frame_5' 'constr_type_1' 'constr_type_4'
 'constr_type_2']
Supervisor District : [ 3.  6. 10.  5.  8.  2.  4.  1.  7.  9. 11.]
Neighborhoods - Analysis Boundaries : ['tenderloin' 'nob_hill' 'potrero_hill' 'inner_sunset'
 'bayview_hunters_point' 'lone_mountain_usf' 'haight_ashbury'
 'castro_upper_market' 'hayes_valley' 'noe_valley' 'pacific_heights'
 'chinatown' 'financial_district_south_beach' 'marina' 'sunset_parkside'
 'outer_richmond' 'mission' 'western_addition' 'bernal_heights'
 'oceanview_merced_ingleside' 'outer_mission' 'portola' 'russian_hill'
 'inner_richmond' 'visitacion_valley' 'presidio_heights'
 'west_of_twin_peaks' 'south_of_market' 'excelsior' 'north_beach'
 'mission_bay' 'glen_park' 'twin_peaks' 'lincoln_park' 'japantown'
 'lakeshore' 'seacliff' 'treasure_island' 'golden_gate_park' 'presidio'
 'mclaren_park']
Zipcode : [94102. 94109. 94107. 94122. 94124. 94117. 94114. 94115. 94108. 94104.
 94123. 94121. 94133. 94110. 94103. 94132. 94112. 94134. 94118. 94116.
 94127. 94131. 94105. 94158. 94111. 94130. 94129.]
Location : ['(37.785719256680785, -122.40852313194863)'
 '(37.78733980600732, -122.41063199757738)'
 '(37.79595867909168, -122.41557405519474)' ...
 '(37.73832420066468, -122.42656228166192)'
 '(37.7146765393289, -122.45557353560899)'
 '(37.78696971667916, -122.40936701144197)']
Record ID : [1380611233945 1420164406718 1443574295566 ... 1498338347099 1498339194341
  149834069380]

In [95]:
df.to_csv('capstone_final_preprocessed_data.csv')
!cp capstone_final_preprocessed_data.csv "drive/My Drive/"